---
import Navbar from "../components/Navbar.astro";
const { title = "Mi Página Astro" } = Astro.props;
const links = [

  { href: "/perfil", label: "Perfil" },
  { href: "/proyectos", label: "Proyectos" },
  { href: "/proyectos-dos", label: "Proyectos Dos" },
  { href: "/formulariopage", label: "Formulario" },
];
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />

    <main style="padding: 1rem">
      <slot />
    </main>
  </body>
</html>
